{% extends 'index.html' %}

{% block contenu %}
<div class="container">
    <a type="button" class="btn btn-primary" href="{% url 'employeuradd' %}">
        Ajouter employeurs
    </a>
    <div class="card">
        <div class="card-header">
            Details des employes
        </div>
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employeur in employeurs %}
                    <tr>
                        <td>{{employeur.id}} </td>
                        <td>{{employeur.nom}} </td>
                        <td>{{employeur.email}} </td>
                        <td>
                            <a class="btn btn-secondary" href="{% url 'editemployeur' employeur.id %}">Editer</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" href="{% url 'deleteemployeur' employeur.id %}">Supprimer</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}