{% extends 'index.html' %}

{% block contenu %}

<div class="container">
    <a class="btn btn-primary" href="{% url 'addEmploye' %}"> Ajouter employes </a>
    <div class="card">
        <div class="card-header">
            Details des employes
        </div >
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Prénom</th>
                        <th scope="col">Nom</th>
                        <th scope="col">Email</th>
                        <th scope="col">Téléphone</th>
                        <th scope="col">Fonction</th>
                        <th scope="col">Action</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employe in employes %}
                    <tr>
                        <td>{{employe.id}} </td>
                        <td>{{employe.prenom}} </td>
                        <td>{{employe.nom}} </td>
                        <td>{{employe.email}} </td>
                        <td>{{employe.telephone}} </td>
                        <td>{{employe.fonction}} </td>
                        <td><a class="btn btn-primary" href="{% url 'editemploye' employe.id %}">Editer</a></td>
                        <td><a class="btn btn-danger" href="{% url 'deleteemploye' employe.id %}">Supprimer</a></td>
                        <td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}